{
	servers :443 {
		protocol { 
            experimental_http3
		}
	}
}

en.ilearned.eu.org {
    redir https://en.ilearned.eu{uri}
}


discord.ilearned.eu {
    redir https://discord.gg/ZyWUJYSc3C
}

ilearned.eu.org {
    redir https://blog.ilearned.eu{uri}
}

ilearned.eu {
    root * /var/www/ilearned
    file_server
    encode zstd gzip

    @dontMatchMainURI {
        path *.html
        path *.xml
        not path /
        not path /index.html
        not path /contributors.html
        not path /projects.html
    }

    redir @dontMatchMainURI https://blog.ilearned.eu{uri}

    header {
    	Content-Security-Policy "default-src 'self'; script-src 'report-sample' 'self' https://cdn.ilearned.eu/js/header.js; style-src 'report-sample' 'self' https://cdn.ilearned.eu; object-src 'none'; base-uri 'self'; connect-src 'self'; font-src 'self' https://cdn.ilearned.eu; frame-src 'self'; img-src 'self' https://cdn.ilearned.eu; manifest-src 'self'; media-src 'self'; report-uri https://625e8f4c1e8c404e5a8b91ff.endpoint.csper.io/?v=0; worker-src 'none';"
	    Permissions-Policy "fullscreen=(self), picture-in-picture=(self), web-share=(self), vertical-scroll=(self)"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	    X-Content-Type-Options nosniff
	    X-Frame-Options DENY
	    Referrer-Policy no-referrer-when-downgrade
        /static/* Cache-Control "max-age=86400"
    }

    log {
        format formatted `{request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
            time_format "02/Jan/2006:15:04:05 -0700"
        }
        output file /var/log/caddy/ilearned-main-french.log
    }
}

blog.ilearned.eu {
    root * /var/www/ilearned-blog
    file_server
    encode zstd gzip
    header {
        Access-Control-Allow-Origin "https://analytics.ilearned.eu"
    	Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://cdn.ilearned.eu/js/header.js https://commento.ilearned.eu/; style-src 'self' 'unsafe-inline' https://cdn.ilearned.eu/ https://commento.ilearned.eu/; connect-src 'self' https://commento.ilearned.eu/; font-src 'self' https://cdn.ilearned.eu/ https://commento.ilearned.eu/; frame-src 'self'; img-src 'self' 'unsafe-inline' data: https://cdn.ilearned.eu/ https://commento.ilearned.eu/ https://ilearned.eu/; worker-src 'none';"
	    Permissions-Policy "fullscreen=(self), picture-in-picture=(self), web-share=(self), vertical-scroll=(self)"
	    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	    X-Content-Type-Options nosniff
	    X-Frame-Options DENY
	    Referrer-Policy no-referrer-when-downgrade
        /static/* Cache-Control "max-age=86400"
    }

    handle_errors {
        rewrite * /theme/error.html
        templates
        file_server
    }

    log {
        format formatted `{request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
            time_format "02/Jan/2006:15:04:05 -0700"
        }
        output file /var/log/caddy/ilearned-blog-french.log
    }
}

analytics.ilearned.eu {
    root * /var/www/ilearned-analytics
    file_server
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    
}

cb.ilearned.eu {
    root * /var/www/ilearned-cb
    file_server
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}

en.ilearned.eu {
    root * /var/www/ilearned-en
    file_server
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Access-Control-Allow-Origin "https://analytics.ilearned.eu"
    }

    log {
        format formatted `{request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
            time_format "02/Jan/2006:15:04:05 -0700"
        }
        output file /var/log/caddy/ilearned-blog-english.log
    }
}

commento.ilearned.eu {
    reverse_proxy 127.0.0.1:8080    
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}


cdn.ilearned.eu {
    root * /var/www/ilearned-cdn
    file_server
    encode zstd gzip
    header {
        Access-Control-Allow-Origin "*"
        /img/* Cache-Control "max-age=31536000"
        /fonts/* Cache-Control "max-age=31536000"
        /css/* Cache-Control "max-age=86400"
        /js/* Cache-Control "max-age=86400"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}
